
body {
  
  background-color: #FFFDE6;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Proza Libre','Palatino','Trebuchet MS';
  color:#221F20;
}


.nav-link{
  color:#221F20 !important;
  font-size:1.3rem;
  }
.nav-link:hover{
  color:#FFFDE6 !important;
}
.menu:hover{
background-color:#221F20;
font-size:1.3rem;

}
.icon{
  color:#221F20 !important;
  
}
.icon:hover{
  font-size:1.1em;
}
.hero{
  position:relative;
  top:-450px;
}

p{
  font-size:1.4rem;
  
  
}

.cuswid{
  width:60%;
  line-height: 200%;
}
.icon{
  color:#221F20 !important;
  
}
.icon:hover{
  font-size:1.3em;
}
.wrapping{
  white-space: nowrap;
}


.custom-justify{
  text-align:justify;
  line-height: 200%;
}

.top{
  float:right;
  font-size:1.5rem;
  padding-bottom:5%;
  text-decoration:none;
  color:#221F20;

}
.top:hover{
  font-size:1.6rem;
  color:#221F20;
  
}

@media only screen and (max-device-width:768px){
  
  .cuswid{
  width:100%;
  line-height: 1.8em;
  
  text-align:justify;
}
.hero{
  display: none;
}
.wrapping{
  white-space: normal;
}
h4,h5,h6,.space{
  margin-left:10px;
  margin-right:10px;
}
.top{
  float:right;
  font-size:1.5rem;
  padding-bottom:5%;
  padding-top:5%;
  text-decoration:none;
  color:#221F20;
  margin-right:10px;

}
.top:hover{
  font-size:1.6rem;
  color:#221F20;
  
}










/*image animation-hero */

   .bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  20% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
  -webkit-transform: scale3d(.9, .9, .9);
  transform: scale3d(.9, .9, .9);
  }
  60% {
  opacity: 1;
  -webkit-transform: scale3d(1.03, 1.03, 1.03);
  transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
  -webkit-transform: scale3d(.97, .97, .97);
  transform: scale3d(.97, .97, .97);
  }
  100% {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  20% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
  -webkit-transform: scale3d(.9, .9, .9);
  transform: scale3d(.9, .9, .9);
  }
  60% {
  opacity: 1;
  -webkit-transform: scale3d(1.03, 1.03, 1.03);
  transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
  -webkit-transform: scale3d(.97, .97, .97);
  transform: scale3d(.97, .97, .97);
  }
  100% {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  } 

  /*image animation-hero */
