
body {
  
  background-color: #FFFDE6;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Proza Libre','Palatino','Trebuchet MS';
  color:#221F20;
}


.nav-link{
  color:#221F20 !important;
  font-size:1.3rem;
  }
.nav-link:hover{
  color:#FFFDE6 !important;
}
.menu:hover{
background-color:#221F20;
font-size:1.3rem;

}
.icon{
  color:#221F20 !important;
  
}
.icon:hover{
  font-size:1.1em;
}
.hero{
  position:relative;
  top:-450px;
}

p{
  font-size:1.4rem;
  
  
}

.cuswid{
  width:60%;
  line-height: 200%;
}
.icon{
  color:#221F20 !important;
  
}
.icon:hover{
  font-size:1.3em;
}
.wrapping{
  white-space: nowrap;
}


.custom-justify{
  text-align:justify;
  line-height: 200%;
}

.top{
  float:right;
  font-size:1.5rem;
  padding-bottom:5%;
  text-decoration:none;
  color:#221F20;

}
.top:hover{
  font-size:1.6rem;
  color:#221F20;
  
}

@media only screen and (max-device-width:768px){
  
  .cuswid{
  width:100%;
  line-height: 1.8em;
  
  text-align:justify;
}
.hero{
  display: none;
}
.wrapping{
  white-space: normal;
}
h4,h5,h6,.space{
  margin-left:10px;
  margin-right:10px;
}
.top{
  float:right;
  font-size:1.5rem;
  padding-bottom:5%;
  padding-top:5%;
  text-decoration:none;
  color:#221F20;
  margin-right:10px;

}
.top:hover{
  font-size:1.6rem;
  color:#221F20;
  
}

}








/*image animation-hero */

    .flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes flipInY {
  0% {
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
  transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  opacity: 0;
  }
  40% {
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
  transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  }
  60% {
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
  transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
  opacity: 1;
  }
  80% {
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  100% {
  -webkit-transform: perspective(400px);
  transform: perspective(400px);
  }
  }
  @keyframes flipInY {
  0% {
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
  transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  opacity: 0;
  }
  40% {
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
  transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  }
  60% {
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
  transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
  opacity: 1;
  }
  80% {
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  100% {
  -webkit-transform: perspective(400px);
  transform: perspective(400px);
  }
  } 


  /*image animation-hero */
