


/*hello animation*/

h1 {
  animation: type 3s steps(9);
  white-space: nowrap;
  overflow: hidden;   
padding-top:5rem;

 width:9ch;
}

@keyframes type{
  0%{
    width:0ch;
  }
  100%{
    width:9ch;
  }
}
/*hello animation*/
.box{
  background-color:#4ecdc4;
  
}



body {
  background: url("../assets/bg.svg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Trebuchet MS','Garamond';
}

.nav-link,.navbar-brand{
  color:#1A1C28 !important;
  font-size:1.3rem;
  }
a:hover{
color:#f7fff7 !important;
font-weight: 500;
}
.navbar-brand:hover{
  color:#1A1C28 !important;
  font-weight:normal;
}
h3{
  color:#4ecdc4;
  font-size:2rem;
}

h1,.subheading{
  color:#4ecdc4;
  text-shadow: .1rem .1rem .1rem #f7fff7;
}
h2{
	color:#4ecdc4;
}

#intro-section{
    background-color:rgba(26,28,40,.9);

}
p{
  font-size:1.5rem;
  color:#f7fff7;
  
}
section{
  padding-top:3rem;
  
  background-color:rgba(26,28,40,.9);
  padding-bottom:5rem;
  display:block;

}
.img-thumbnail{
  background-color:#f7fff7;
}
.btn-primary{
  background-color:#f7fff7;
  color:#4ecdc4;
  font-weight:600;
}
.btn-primary:hover{
  color:#f7fff7;
  background-color:#4ecdc4;
  font-weight:600;
}
.custom-indent{
  text-indent:2.8rem;
  

}