.scale-down-center{animation:scale-down-center 1s cubic-bezier(.6,-.28,.735,.045) 1s alternate-reverse both}

@keyframes scale-down-center{0%{transform:scale(1)}100%{transform:scale(.5)}}

body {
  
  background-color: #FFFDE6;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Proza Libre','Garamond';
  color:#221F20;
}
.nav-link{
  color:#221F20 !important;
  font-size:1.3rem;
  }
.nav-link:hover{
  color:#FFFDE6 !important;
}
.menu:hover{
background-color:#221F20;
font-size:1.3rem;

}

.icon{
  color:#221F20;
   font-size:1.1em;
}
.icon:hover{
  color: #0132B1;
}


p{
  font-size:1.5rem;  
}


.btn-primary{
  background-color:#221F20;
  color:#FFFDE6;
  font-weight:600;
  border:none;
}
.btn-primary:hover{
  background-color:#0132B1;
  color:#FFFDE6;
  font-weight:600;
  border:none;
  
}

.card-group{
  margin: 0 auto;
}
.card,.card-body{

  background-color:#FFFDE6; 
  max-width: 21rem;
  margin-right: 10px;
  margin: 0 auto;
}








@media only screen and (max-device-width:1000px){
  .card, .card-body{
      width:100% !important;
      float: none;
      margin: 0 auto;
  }
 
}


